<a href="https://colab.research.google.com/github/RkBeau/Python_Notebook/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Defining Essential Python DataTypes

## Putting information into variables

In [16]:
# variables are assigned with value with the"=" assignment operator
myVar = 5
print(myVar)

5

# Understanding the Numeric Data Types

##Integers

Integers are, put plainly, whole, real, numbers.  This includes "-" negative integers.

In [ ]:
Test = 0b100
print("100 binary: ", Test)

Test = 0o100
print("100 octal: ", Test)

Test = 0x100
print("100 hexadecimal: ", Test)

print(bin(Test))
print(oct(Test))
print(hex(Test))

100 binary:  4
100 octal:  64
100 hexadecimal:  256
0b100000000
0o400
0x100

## Floating Point Types

In [ ]:
Test = 255.0
print("Direct Assignment: ", Test)

Test = float(255)
print("Type Casting: ", Test)

Test = 2.55e2
print("Scientific Notation: ", Test)

Test = 2.55e-2
print("Negative Exponent:", Test)

Direct Assignment:  255.0
Type Casting:  255.0
Scientific Notation:  255.0
Negative Exponent: 0.0255

## Complex numbers

In [ ]:
myComplex = 3 + 4j
print(myComplex.real)
print(myComplex.imag)
print(myComplex.conjugate())

3.0
4.0
(3-4j)

# Understanding Boolean Values

In [ ]:
# A Boolean can only contain one of two values
# true or false, 0 or 1, open or closed.
myBool = 1 > 2
print(myBool) #or
myBool = 2 > 1
print(myBool)

False
True

#Understanding Strings


---
Strings are simply a series of characters contained within doublequotes.  They can be any character on the keyboard in any order.  Strings can be made of numeric characters.  Sometimes these have to be converted to their numeric data types like so:

In [ ]:
# To better understand the concept of strings consider that each character is
# represented in the machine by an ascii code. We can see this value by using
# the ord() function.
print(ord('A'))
print(ord('a'))
print(ord('0'))
# note that the 'A' and 'a' characters value is 32 places difference.  this
# is because ascii lists all lowercase then all uppercase letters.
'''
    sometimes it is neccesary to convert a string to a number
    we do so with the int() function and the float() function
'''
myInt = int('123')
print(myInt)
myFloat = float('123.45')
print(type(myFloat))
print(type(myInt))
'''
    we can also convert a number to a string with the str() function
'''
myString = str(123)
print(type(myString))

65
97
48
123
<class 'float'>
<class 'int'>
<class 'str'>

# Managing Information

#Creating and Using Functions

## Defining a function

In [ ]:
# @title
'''
    To define a function we use the keyword "def" followed
    by the function name and parenthesis ending with a colon
'''
def myFunction():
    print("Hello World")

# Make sure to run this cell first to define the function %% [markdown] ##
# Accessing functions a function is accessed by calling or invoking it. This is
# done simply by entering the function name. %%

## Accessing functions

a function is accessed by calling or invoking it.  This is done simply by entering the function name.

In [1]:
myFunction()  # Now you can call the function

NameError: name 'myFunction' is not defined

# Understanding arguments

    Arguments are data you supply the function with.  these may be litorals or variable names.

In [2]:
def AddIt(value1, value2):
    print(value1, " + ", value2, " = ", (value1 + value2))
3
AddIt(1, 2)

1  +  2  =  3

### default values
    to create a default value simply follow the argument name with an assignment operator and the value.

In [ ]:
def Hello(Greeting = "No Value Supplied"):
    print(Greeting)

Hello()
Hello("hello world")

No Value Supplied
hello world

## Creating functions with a variable number of arguments

In [ ]:
'''
    To create a function that can accept a variable number of arguments
    create a variable preceded by an asterisk and the name of the variable like so:
'''
def Hello4(ArgCount, *varArgs):
    print("You passed ", ArgCount, " arguments.")
    for Arg in varArgs:
        print(Arg)

Hello4(1, "Hello")
Hello4(2, "Hello", "World")

You passed  1  arguments.
Hello
You passed  2  arguments.
Hello
World

In [7]:
def Hello4(ArgCount, *varArgs):
    print("You passed ", ArgCount, " arguments.")
    for Arg in varArgs:
        print(Arg)
Hello4(1, "A test string.")
Hello4(3, "one", "two", "three")

You passed  1  arguments.
A test string.
You passed  3  arguments.
one
two
three

## Returning Information From Functions
    To return data to a caller, a function needs to include the keyword "return", followed by the data to be returned.  Some data types commonly returned are:
        *Values*: Any value is acceptable.  Numbers, strings, Booleans.
       * Variables*: The content of any variable works just as well as a direct value.  The caller recieves what is stored in the variable.
       * Expression*s: You can simply return a + b rather than perform the calculation.  Place the result in a variable, and then return the variable.  Faster.
       * Results from other functions*:  May call the data from another funtion as part of the return.*italicized text*
```

In [11]:
def DoAdd(Value1, Value2):
    return Value1 + Value2

Result = DoAdd(1, 2)
print(Result)

DoAdd(5, 7)
print('The result of 5 plus 7 is', DoAdd(5, 7))

3
The result of 5 plus 7 is 12

## Comparing function output

In [10]:
DoAdd(2, 2) == DoAdd(1, 3)

True

# Getting User Input
    Most functions require input from a user or a data file.  For this we use the input() funtion.

    Input() always outputs a string.  Even if a user types a number the output is a string.  If you are needing a number you must convert it to the appropriate numeric data type after recieving the input.

In [14]:
Name = input("What is your name? ")
print("Hello", Name)

#conversion to other data types.
ANumber = float(input("Type a number: "))
print("You entered" , ANumber)

What is your name? kyle
Hello kyle
Type a number: 87.0
You entered 87.0