<a href="https://colab.research.google.com/github/RkBeau/Python_Notebook/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Defining Essential Python DataTypes

## Putting information into variables

In [27]:
# variables are assigned with value with the"=" assignment operator
myVar = 5
print(myVar)

5

# Understanding the Numeric Data Types

##Integers

In [28]:
Test = 0b100
print("100 binary: ", Test)

Test = 0o100
print("100 octal: ", Test)

Test = 0x100
print("100 hexadecimal: ", Test)

print(bin(Test))
print(oct(Test))
print(hex(Test))

100 binary:  4
100 octal:  64
100 hexadecimal:  256
0b100000000
0o400
0x100

## Floating Point Types

In [29]:
Test = 255.0
print("Direct Assignment: ", Test)

Test = float(255)
print("Type Casting: ", Test)

Test = 2.55e2
print("Scientific Notation: ", Test)

Test = 2.55e-2
print("Negative Exponent:", Test)

Direct Assignment:  255.0
Type Casting:  255.0
Scientific Notation:  255.0
Negative Exponent: 0.0255

## Complex numbers

In [30]:
myComplex = 3 + 4j
print(myComplex.real)
print(myComplex.imag)
print(myComplex.conjugate())

3.0
4.0
(3-4j)

# Understanding Boolean Values

In [31]:
# A Boolean can only contain one of two values
# true or false, 0 or 1, open or closed.
myBool = 1 > 2
print(myBool) #or
myBool = 2 > 1
print(myBool)

False
True

#Understanding Strings


---
Strings are simply a series of characters contained within doublequotes.  They can be any character on the keyboard in any order.  Strings can be made of numeric characters.  Sometimes these have to be converted to their numeric data types like so:

In [32]:
# To better understand the concept of strings consider that each character is
# represented in the machine by an ascii code. We can see this value by using
# the ord() function.
print(ord('A'))
print(ord('a'))
print(ord('0'))
# note that the 'A' and 'a' characters value is 32 places difference.  this
# is because ascii lists all lowercase then all uppercase letters.
'''
    sometimes it is neccesary to convert a string to a number
    we do so with the int() function and the float() function
'''
myInt = int('123')
print(myInt)
myFloat = float('123.45')
print(type(myFloat))
print(type(myInt))
'''
    we can also convert a number to a string with the str() function
'''
myString = str(123)
print(type(myString))

65
97
48
123
<class 'float'>
<class 'int'>
<class 'str'>

# Managing Information

NameError: name 't' is not defined